@using Mvckutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "GidenMesajlar";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Giden Mesajlar</h2>
<a href="/Mesajlar/YeniMesaj/" class="btn btn-primary"> Mesaj Yaz </a>

<br />
<table class="table table-bordered">
    <tr>
        <th>Alıcı</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ALICI</td>
            <td>@x.KONU</td>
            <td>@x.ICERIK</td>
            <td>@x.TARIH</td>
            <td><a href="/Mesajlar/MesajSil/@x.ID" class="btn btn-danger">SİL</a></td>
        </tr>
    }


</table>