@using Mvckutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}
<br />
<h2>Kitap Geçmişim</h2>
<br />
<table class=" table table-striped">
    <tr style="background-color:#808080">

        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>iade Tarih</th>
        

    </tr>


    @foreach (var k in Model)
    {
        <tr>

            <td>@k.TBLKITAP.ADI</td>
            <td>@Convert.ToDateTime(k.ALISTARIHI).ToString("dd/MMM/yyyy")</td>
            <td>@Convert.ToDateTime(k.UYEGETIRTARIH).ToString("dd/MMM/yyyy")</td>




        </tr>
    }

</table>